#status h3 {
  border-bottom: 1px solid #888a85;
}

.arch-charts {
  height: 250px;
}

.chart {
  height: 180px;
}

.chart h4 {
  text-align: center;
}

.chart-canvas {
   width: 100%;
   height: 200px;
}

#status-nav {
  margin-top: -1.5em;
}

/* -----------------------------------------------------------------
 * headings
 * ----------------------------------------------------------------- */

.page-header {
  margin-top: 0px;
}

.panel .panel-heading {
  background: white;
  font-size: 18px;
}
.panel .panel-heading-browse {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* -----------------------------------------------------------------
 * status marks
 * ----------------------------------------------------------------- */

.pass {
  color: #8ae234;
}

.neutral {
  color: #8080ff;
}

.fail {
  color: #ef2929;
}

.tmpfail {
  color: #ffd862;
}

.no_test_data {
  color: #babdb6;
}

.fail_passed_never {
  color: #ef2929;
}

.fail_passed_current {
  color: #9e0000;
}

.fail_passed_old {
  color: #c80c0c;
}

.tmpfail_pass {
  color: #fffa62;
}

.tmpfail_fail {
  color: #ffb062;
}

/* -----------------------------------------------------------------
 * icons
 * ----------------------------------------------------------------- */

.fa-exclamation-triangle:before {
  color: orange;
}

.fa-rss:before {
  color: orange;
}

.fa-question-circle:before {
  color: green;
}

/* -----------------------------------------------------------------
 * navbar
 * ----------------------------------------------------------------- */

.navbar-brand {
  background: transparent url(debian.png) 10px 50% no-repeat;
  padding-left: 50px !important;
}

/* -----------------------------------------------------------------
 * footer
 * ----------------------------------------------------------------- */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  margin-top: 3em;
  padding: 1em;
  min-height: 60px;
  border-top: 1px solid #efefef;
 }
/* -----------------------------------------------------------------
 * package browsing by prefix
 * ----------------------------------------------------------------- */

.list-inline h5 a {
  color: #E90051;
  background-color: #eeeeec;
  padding: 1px 10px;
  border-radius: 5px;
}

.list-inline h5 a:hover {
  text-decoration: none;
  background-color: #E90051;
  color: white;
}
